<p>Nombre del empleado: {{ nombre }}</p>
<p>Apellido del empleado: {{ apellido }}</p>
<p>Edad del empleado: {{ (edad > 18) ? 'Mayor de edad': 'Menor de edad' }}</p>
<p>Nombre de la empresa: {{ empresa.value }}</p>
Introduce el nombre de la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitar_input_property"><br>
<b>{{ texto_registro }}</b><br>
Usuario registrado: <input type="checkbox" id="registro" [checked]="usuario_registrado_property" (click)="set_usuario_registrado()">

<!--<button (click)="llamar_empresa(empresa.value)">Cambiar</button>-->